<div *ngIf="selectedPost && !isPostEdited" class="container">
  <div class="row mb-3">The details of the selected post:</div>
  <div class="row mb-3">
    <button class="btn btn-primary btn-sm btnSmall"
      (click)="editPost()">Edit Post</button>
  </div>
  <div class="bg-light rounded" style="padding: 10px 10px 10px 10px;margin-left:-15px;border:1px solid lightgrey;">
    <div><h5>{{selectedPost.title}}</h5></div>
    <div class="mb-3">Date Created : {{selectedPost.time | date : "medium"}}</div>
    <!-- Preserving the line breaks -->
    <div class="" style="white-space:pre-wrap;">{{selectedPost.content}}</div>
  </div>

</div>
<div *ngIf="!selectedPost && !isPostEdited" class="container align-items-center" style="height:100%;">
  Please select a post to view it's details.
</div>
<app-blog-edit
  [postToEdit] = "selectedPost"
  *ngIf="selectedPost && isPostEdited"></app-blog-edit>
