<nav class="navbar">
<div class="container-fluid bg-light rounded" style="width:91%;">
  <div class="navbar-brand">
    My Food Blog
  </div>
  <div style="width:80%;">
    <ul class="nav">
      <li routerLinkActive="active rounded" class="nav-item" style="padding: 7px 5px 7px 5px;">
        <a routerLink="readPosts">Read Posts</a></li>
      <li routerLinkActive="active rounded" class="nav-item" style="padding: 7px 5px 7px 5px;">
        <a routerLink="addPost">Add Post</a></li>
    </ul>
  </div>
</div>
</nav>

