<div class="container"
  *ngIf="!isUpdating && !isPostUpdated && !isCancelled && (error == '')">
  <form #myForm="ngForm" (submit)="onSubmit(myForm)">
    <div class="row">
      <div class="col-lg-3 font-weight-bold mb-3" style="text-align: left;">
      Update Post
      </div>
      <div class="col-lg-9">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <label for="title">Title</label>
      </div>
      <div class="col-lg-9">
        <input type="text" name="title"
          #title
          [(ngModel)]="postToEdit.title" required
          style="width:300px;">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3">
        <label for="content">Content</label>
      </div>
      <div class="col-lg-9">
        <textarea name="content"
          #content
          [(ngModel)] = "postToEdit.content" required
          style="width:300px;height:100px;"></textarea>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-3">
      </div>
      <div class="col-md-9">
        <button type="submit"
          [disabled]="!myForm.valid"
          class="btn btn-primary">Update</button>
        <span style="padding-left: 2px;"></span>
        <button type="button"
          (click)="cancel()"
          class="btn btn-secondary">Cancel</button>
      </div>
    </div>
  </form>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12" *ngIf="isUpdating">The post is getting updated ...
    </div>
    <div class="col-lg-12" *ngIf="isPostUpdated">The post is updated !
    </div>
    <div class="col-lg-12" *ngIf="isCancelled">The post is not updated !
    </div>
    <div class="col-lg-12 text-danger" *ngIf="error!=''">{{error}}</div>
  </div>
</div>
