<div class="container">
  <div class="row">Displaying student details</div>
  <div class="row">
    <div class="col-lg-2">Sr No</div>
    <div class="col-lg-8">Name</div>
    <div class="col-lg-2">Age</div>
  </div>
  <div class="row">
    <div class="col-lg-2">1</div>
    <div class="col-lg-8">Rajib Sarma</div>
    <div class="col-lg-2">100</div>
  </div>
  <div class="row">
    <div class="col-lg-2">2</div>
    <div class="col-lg-8">Sanjeev Sah</div>
    <div class="col-lg-2">15</div>
  </div>
</div>
