<app-header></app-header>

<div class="container">
  <div class="row bg-white rounded" style="border:1px solid lightgrey;">
    <router-outlet></router-outlet>
  </div>
  <!--
  <div class="row">
    <div class="col-xs-6">
      <app-blog-list></app-blog-list>
    </div>
    <div class="col-xs-6">
      <app-blog-detail></app-blog-detail>
    </div>
  </div>
  -->
</div>

