<div class="container">
  <form #myForm="ngForm" (submit)="onSubmit(myForm)">
    <div class="row">
      <div class="col-lg-6 font-weight-bold mb-3" style="text-align: left;">
      Add a new Post
      </div>
      <div class="col-lg-6">
        <span *ngIf="postAdded">The post is added !</span>
        <span *ngIf="error!=''">{{error}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <label for="title">Title</label>
      </div>
      <div class="col-lg-6">
        <input type="text" name="title"
          ngModel required
          style="width:300px;">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <label for="content">Content</label>
      </div>
      <div class="col-lg-6">
        <textarea name="content"
          ngModel required
          style="width:300px;height:100px;"></textarea>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
      </div>
      <div class="col-md-6">
        <button type="submit"
          [disabled]="!myForm.valid"
          class="btn btn-primary">Add</button>
        <span style="padding-left: 2px;"></span>
        <button type="button"
          (click)="myForm.reset()"
          class="btn btn-secondary">Clear</button>
      </div>
    </div>
  </form>
</div>
