<div class="container">
  <form #myForm="ngForm" (ngSubmit)="onDeletePosts(myForm)">
    <div class="row" style="margin-top:10px;">
      <div class="col-lg-4" style="margin-bottom:10px;">
        <div class="row mb-3">
          <div class="col-lg-9">
            The Posts in the Blog:
          </div>
          <div class="col-lg-3" style="float-right">
            <button type="submit" class="btn btn-primary btn-sm btnSmall">Delete</button>
          </div>
        </div>
        <div class="row" *ngIf="isLoading">
          <div class="col-lg-12">Loading posts ...</div>
        </div>
        <div class="row" *ngIf="isDeletingPost">
          <div class="col-lg-12">Deleting posts ...</div>
        </div>
        <div class="row" *ngIf="error != ''">
          <div class="col-lg-12 text-danger">{{error}}</div>
        </div>
        <ul class="list-group" *ngFor="let post of posts, let i = index">
          <li class="list-group-item"
            [ngClass]="getBackgroundColorClass(post,i)" >
            <input type="checkbox" ngModel name="{{post.id}}" />
            <a (click)="onSelectPost(post, i)" style="cursor:pointer;">
              <div class="text-truncate"
                style="display:table-cell;font-weight:bold;padding-left:5px;width:220px;max-width:220px;">
                {{post.title}}</div>
              <br/>
              <small>Date Created : {{post.time | date : "medium"}}</small>
              <div class="col-12 text-truncate" style="padding-left:0;">
                {{post.content}}
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-8">
        <app-blog-detail [selectedPost]="postSelected"></app-blog-detail>
      </div>
    </div>
  </form>
</div>
